<div class="body" #body (click)="check()">


    <form (ngSubmit)="submit()" (input)="input()">

        <img src="Logo.png" />
        <div style="display: flex;flex-direction: column;gap: 1em;">
            <div class="container">
                <span #emai (click)="click($event)" class="label">Email or Phone *</span>
                <input type="email" name="email" [(ngModel)]="email" required>
                <p *ngIf="!email">*email is required</p>
            </div>


            <div class="container1">
                <span #pass (click)="click($event)" class="label1">Password</span>
                <input type="password" name="password" [(ngModel)]="password" required>
                <p *ngIf="!password">* password is required</p>
            </div>







        </div>

        <div class="button">
            <p class="create">Create Account</p>
            <button type="submit">Login</button>

        </div>



    </form>

</div>